<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveUser</servlet-name>
        <servlet-class>SaveUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnactivatedCustomers</servlet-name>
        <servlet-class>ShowUnactivatedCustomers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeCustomerStatus</servlet-name>
        <servlet-class>ChangeCustomerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUnactivatedOwners</servlet-name>
        <servlet-class>ShowUnactivatedOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeOwnerStatus</servlet-name>
        <servlet-class>ChangeOwnerStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProperty</servlet-name>
        <servlet-class>SaveProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowOwnProperty</servlet-name>
        <servlet-class>ShowOwnProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAllProperties</servlet-name>
        <servlet-class>ShowAllProperties</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProperty</servlet-name>
        <servlet-class>ShowProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeStatus</servlet-name>
        <servlet-class>ChangeStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerDetails</servlet-name>
        <servlet-class>OwnerDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMessage</servlet-name>
        <servlet-class>SaveMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowMeessages</servlet-name>
        <servlet-class>ShowMeessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PropertyDetails</servlet-name>
        <servlet-class>PropertyDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreProperty</servlet-name>
        <servlet-class>StoreProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageLoader</servlet-name>
        <servlet-class>ImageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProfileChanges</servlet-name>
        <servlet-class>SaveProfileChanges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePropertyChanges</servlet-name>
        <servlet-class>SavePropertyChanges</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProperty</servlet-name>
        <servlet-class>DeleteProperty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveUser</servlet-name>
        <url-pattern>/SaveUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnactivatedCustomers</servlet-name>
        <url-pattern>/ShowUnactivatedCustomers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeCustomerStatus</servlet-name>
        <url-pattern>/ChangeCustomerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUnactivatedOwners</servlet-name>
        <url-pattern>/ShowUnactivatedOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeOwnerStatus</servlet-name>
        <url-pattern>/ChangeOwnerStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProperty</servlet-name>
        <url-pattern>/SaveProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOwnProperty</servlet-name>
        <url-pattern>/ShowOwnProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAllProperties</servlet-name>
        <url-pattern>/ShowAllProperties</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProperty</servlet-name>
        <url-pattern>/ShowProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeStatus</servlet-name>
        <url-pattern>/ChangeStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerDetails</servlet-name>
        <url-pattern>/OwnerDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMessage</servlet-name>
        <url-pattern>/SaveMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowMeessages</servlet-name>
        <url-pattern>/ShowMeessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PropertyDetails</servlet-name>
        <url-pattern>/PropertyDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreProperty</servlet-name>
        <url-pattern>/StoreProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageLoader</servlet-name>
        <url-pattern>/ImageLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveProfileChanges</servlet-name>
        <url-pattern>/SaveProfileChanges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePropertyChanges</servlet-name>
        <url-pattern>/SavePropertyChanges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProperty</servlet-name>
        <url-pattern>/DeleteProperty</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
